@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  margin: 0;
  background: #4a707a;
  background: linear-gradient(to left, #4a707a,#7697a0,#94b0b7, #c2c8c5 );
  color:#fff;
  text-align: center;
  font-family: 'Fira Code', 'monospace';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h1 {
  font-size: 55px;
  }
}



