@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
body {
  margin: 0;
  background-color:bisque;
  color:brown;
  font-family: 'Fira Code', 'monospace';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
}
.app-title {
  font-size: 55px;
}
.search-input {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border:0;
  outline: 0;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid brown;
  font-weight: 500;
  letter-spacing: 2px;
  color: brown;
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.poke-img {
  width: 150px;
  height: 150px;
}
.card {
  border: 1px solid brown;
  border-radius: 8px;
  margin: 10px;
  width: 23%;
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 600px){
	.card {
    width: 60%;
  }
}
